<md-toolbar md-whiteframe="3" style="overflow-x: auto; padding: 0.1em"><!-- hide show-gt-sm -->
    <div class="md-toolbar-tools" md-colors="{color: 'primary-50'}"><!-- 960 is as small as it can go -->

        <div ng-repeat="vaughnButton in beforeText">
            <vaughn-button-inner></vaughn-button-inner>
        </div>

        <span flex></span>
        <h2 hide show-gt-sm>Welcome to Vaughn's Playground</h2>
        <span flex></span>

        <div ng-repeat="vaughnButton in afterText">
            <vaughn-button-inner></vaughn-button-inner>
        </div>

    </div>
</md-toolbar>
