**/node_modules/**
client/codeForGood
client/badgerloop
OverallPodOperation.html
OverallBlockDiagram.pdf
networkBackend.html
client/hw-search.JPG
client/hw.JPG
client/in-person_vs_im.JPG
client/notice.JPG
client/redmine.JPG

