html {
    font-family: 'Ubuntu', sans-serif;
}

.monoFont {
    font-family: 'Ubuntu Mono';
}

body { background: url(../img/circuit-tesselate-bw.jpg); }

#slideshow {
    background: url(../img/hack_illi.jpg) no-repeat;
    background-size: cover;
    background-clip: padding-box;
    border: 1em solid hsla(0, 0%, 100%, 0.5);
    margin: auto;
    height: 40em;
}

#slideshow-text {
    color: white; 
    text-align: center;
}
