<div md-whiteframe="6" md-colors="{backgroundColor: 'primary-600'}" style="max-height: 80vh; overflow-y: auto">
  <h2 align="center">Contact Me</h2>
  <div layout="column" layout-align="center center" style="background-color: white" md-colors="{color: 'primary-600'}">
      <div style="padding: 1em 0.5em 0em 0.5em; font-size: 150%">
          School email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>vkottler@wisc.edu</b><br><br>
          Personal email:&nbsp;&nbsp;<b>vaughnkottler@gmail.com</b><br><br>
          Cell number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>(608) 381-1145</b>
    </div>
    <div style="padding: 0em 0.5em 1.5em 0.5em" layout="row" layout-align="space-around center">
    	<a href="https://www.facebook.com/vaughn.kottler" target="_newtab"><md-button><img src="../img/fb.png" /></md-button></a>
    	<a href="https://www.linkedin.com/in/vaughn-kottler-82a1bba8" target="_newtab"><md-button><img src="../img/li.png" /></md-button></a>
      <a href="https://github.com/vkottler" target="_newtab"><md-button><img src="../img/githubSm.png" /></md-button></a>
    	<a href="https://www.instagram.com/vaughnkottler/" target="_newtab"><md-button><img src="../img/insta.png" /></md-button></a>
    	<a href="https://twitter.com/vaughnkottler" target="_newtab"><md-button><img src="../img/twitter.png" /></md-button></a>
    </div>
  </div>
</div>
