<div md-whiteframe="6" md-colors="{backgroundColor: 'primary-600'}" style="max-height: 80vh; overflow-y: auto">
  <h2 align="center">Contact Me</h2>
  <div layout="column" layout-align="center center" style="background-color: white" md-colors="{color: 'primary-600'}">
      <div style="padding: 1em 0.5em; font-size: 150%">
          School email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>vkottler@wisc.edu</b><br><br>
          Personal email:&nbsp;&nbsp;<b>vaughnkottler@gmail.com</b><br><br>
          Cell number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>(608) 381-1145</b>
    </div>
  </div>
</div>
