<div id="slideshow_behind">
    <div id="slideshow" class="myTransition">
        <div id="slideshow-wrapper" layout="row">
            <md-button flex class="arrow-wrapper" ng-click="updateImage('slideshow', -1)" hide show-gt-sm>
                <md-icon hide show-gt-md md-colors="{color: 'primary-50'}">chevron_left</md-icon>
            </md-button>
            <div flex="90" layout="column" layout-align="space-around center"><!-- ="90" -->
                <h1 id="slideshow-text"></h1>
                <div><!-- This is needed! --></div>
            </div>
            <md-button flex class="arrow-wrapper" ng-click="updateImage('slideshow', 1)" hide show-gt-sm>
                <md-icon hide show-gt-md md-colors="{color: 'primary-50'}">chevron_right</md-icon>
            </md-button>
        </div>
    </div>
</div>

<hr md-colors="{borderColor: 'primary-600', backgroundColor: 'primary-600'}"><br>

<div class="card-container" style="margin:auto">
    <gallery-cards></gallery-cards>
</div>
