@media (max-width: 600px) {
    #slideshow { font-size: 50%; }
}

@media (min-width: 601px) and (max-width: 960px) {
    #slideshow { font-size: 75%; }
}

@media (min-width: 961px) and (max-width: 1280px) {
    #slideshow { font-size: 100%; }
}

@media (min-width: 1281px) {
    #slideshow { font-size: 125%; }
}
