md-content.main {
    background: url(../img/circuit-tesselate-bw.jpg);
    overflow-x: hidden;
}

.body_frame {
    max-width: max-content;
    text-align: center;
    margin: auto;
    padding: 2em;
    border-radius: 1em;
}

#slideshow {
    background: url(../img/hack_illi.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    /* border: 1em solid hsla(0, 0%, 100%, 0.75); background-clip: padding-box; */
    margin: auto;
    height: 40em;
}

#slideshow_behind {
    background: url(../img/hack_illi.jpg) no-repeat;
    background-color: black;
    background-size: cover;
    background-position: center;
}

#slideshow-wrapper { height: 100%; }

#slideshow-text {
    background: hsla(0, 0%, 0%, 0.75);
    color: white;
    padding: 0.5em;
    border-radius: 0.25em;
}

#navbar {
    position: fixed;
    z-index: 1;
}

.arrow-button {
    font-size: 400%;
    margin: auto;
}

/* md-button animation will fill space */
.button-override {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.arrow-wrapper {
    background: hsla(0, 0%, 100%, 0.25);
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
}
