html {
    font-family: 'Ubuntu', sans-serif;
}

.monoFont {
    font-family: 'Ubuntu Mono';
}

body { 
    background: url(../img/circuit-tesselate-bw.jpg);
    overflow: hidden; /* for scrollable navbar */
}

hr {
    height: 1em;
    margin: 0 0 0 0;
}

footer {
    background-color: white;
}

a {
    color: #01579B;
}

iframe {
    border: none;
}